/* Importing Open Sans Font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
    box-sizing: border-box;
}

/* Change this after footer has been designed / Might need changes after footer has been designed  */
.maincontainer {
    padding-bottom: 3em;
}

/* Same font throughout the form */
* {
    font-family: "Open Sans", sans-serif;
}

/* Make placeholder text of uniform size */
*::-webkit-input-placeholder {
    font-size: 0.9em;
}

/* Font size of Sign In/Sign Up */
.maincontainer .card .signup,
.maincontainer .card .signin {
    font-size: 1.4em;
}

/* To keep the color of Sign In/Sign Up same in all conditions */
.maincontainer .card a,
.maincontainer .card a:visited,
.maincontainer .card a:active,
.maincontainer .card a:hover {
    color: #000;
}

/* To make Sign In and Sign Up (main switch tab buttons) (role=button) to go full width. text-center class was adding padding 15px to them */
.maincontainer .card .text-center {
    padding: 0;
}

/* Teal/bluish border around selected button either Sign In or Sign Up */
#signup:focus,
#signin:focus {
    border: 1px solid #19abbc;
}

/* Removes default padding on Sign In/Sign Up and removes default border radius */
#signup,
#signin {
    padding: 0.5em;
    height: auto;
    border-radius: 0;
}

/* Gives a pressable button like effect to Sign In/Sign Up on hover and adds box shadow */
#signin:hover,
#signup:hover,
.signup-button:hover,
.signin-button:hover {
    transform: translateY(1px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.active {
    background-color: #85CDD5;
}

/* No default rounded corners/no border radius for form elements & hide any overflow */
.maincontainer .card .btn,
.maincontainer .card .form-input {
    border-radius: 0;
    overflow: hidden;
    height: 3em;
}

/* Adds box shadow to the form */
.maincontainer .card .card-header,
.card-body {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.card-header {
    padding: 0;
}

/* Background color for Sign In/ Sign Up buttons */
.signup-button,
.signin-button {
    background-color: #19abbc;
}

/* Aligns the Google/GitHub icons in the middle with text */
.google,
.github {
    vertical-align: middle;
    background-color: white;
}

/* To make btn-light buttons background white */
.btn-light-white {
    background-color: white;
}

.border-custom-color {
    border: 1px solid #c4c8cc;
}
