* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
	width:100%;
}
.main-section {
	position: relative;
	justify-content: center;
	text-align: left;
	min-height: 100vh;
	color: #fff;
}
.main-section .btn{
  border: 2px solid #d90932;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: white;
  opacity: 1;
  color: #d90932;
}
.main-section .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
  background-image: linear-gradient(rgba(100,100,100,0.6), rgba(100,100,100,0.6)), url("https://i.imgur.com/efsiBNt.jpg");
}

.h1-responsive{
  
	font: bold 60px "Open Sans", sans-serif;
	margin:0px;

}
h3-responsive {
	font: normal 28px "Open Sans", sans-serif;
	margin:0px;
	line-height:30px;
}

.h3-responsive span {
    border-bottom: 2px solid #d90932;
    
}

.linespace{
	padding-top: 5px;
}
.main-section a.btn {
	padding: 10px 30px;
  letter-spacing: 3px;
}

.main-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin-left: 50px;
	}
}

@media (max-width:1024px) {
	.main-section {
		display: table-cell;
    padding-bottom: 100px;
	}
}

@media (max-width: 800px) {
	.main-section {
		min-height: 400px;
	}

	.main-section h1 {
		font-size: 40px;
	}

	.main-section h3 {
		font-size: 20px;
	}

	.main-section a.btn {
		padding: 10px 20px;
	}

}
@media only screen and (max-width: 800px) {
	section {
		padding: 0px;
	}
  .content-area h1 {
    font-size: 36px;
  }

  .content-area h3 {

    font-size: 20px;
  }
  .content-area hr {
    margin: 0 auto;
  }
  .content-image {
    min-width: 250px;
    min-height: 250px;
  }

}

.content-image {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.col-image{
	width:51%;
	object-fit: cover;
	margin:0;
	padding: 0;
}

.col-content{
	width: 100%;
}

.content-area hr {
width: 100px;
height: 3px;
background-color: #d90932;
border: 0;
margin:auto;
margin-bottom:50px;
}
.content-area {
  margin: 0;
  padding: 50px;
  text-align: center;
  width: 100%;
  height: 100%;

}
.content-area h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
#main1 {
	background: lightblue url("https://i.imgur.com/efsiBNt.jpg") no-repeat ;
	background-size: cover;
	padding:0px;
	z-index:1;
	
}
#row-1-image{
	height:100%;
	width:100%;
}
.col-md-7, .col-md-5, .col-md-4, .col-md-6{
	padding:0px;
}
