* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
	width:100%;
}
#main1 .main-section {
	position: relative;
	justify-content: center;
	text-align: left;
	min-height: 100vh;
	color: #fff;
}
#main1 .main-section .btn{
  border: 2px solid #d90932;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: white;
  opacity: 1;
  color: #d90932;
}
#main1 .start {
	border: 2px solid #d90932;
	border-radius: 40px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: white;
	opacity: 1;
	color: #d90932;
	line-height: 20px;
}
#main1 .start:hover {
	background-color: #d90932;
	color: white;
}
#main1 .main-section .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
  background-image: linear-gradient(rgba(100,100,100,0.6), rgba(100,100,100,0.6)), url("https://i.imgur.com/efsiBNt.jpg");
}

#main1 .h1-responsive{

	font: bold 60px "Open Sans", sans-serif;
	margin:0px;

}
#main1 .h3-responsive {
	font: normal 28px "Open Sans", sans-serif;
	margin:0px;
	line-height:30px;
}

#main1 .h3-responsive span {
    border-bottom: 2px solid #d90932;
}

#main1 .linespace{
	padding-top: 5px;
}
#main1 .main-section a.btn {
	padding: 10px 30px;
  letter-spacing: 3px;
}

#main1 .main-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin-left: 50px;
	}
}

@media (max-width:1024px) {
	#main1 .main-section {
		display: table-cell;
    	padding-bottom: 100px;
	}
}

@media (max-width: 800px) {
	#main1 .main-section {
		min-height: 400px;
	}

	#main1 .main-section h1 {
		font-size: 40px;
	}

	#main1 .main-section h3 {
		font-size: 20px;
	}

	#main1 .main-section a.btn {
		padding: 10px 20px;
	}

}
@media only screen and (max-width: 800px) {
  #main1 section {
		padding: 0;
	}
  #main1 .content-area h1 {
    font-size: 36px;
  }

  #main1 .content-area h3 {

    font-size: 20px;
  }
  #main1 .content-area hr {
    margin: 0 auto;
  }
  #main1 .content-image {
    min-width: 250px;
    min-height: 250px;
  }

}

#main1 .content-image {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* Commented out as no col-image class found in Home.js */
/* .col-image{
	width:51%;
	object-fit: cover;
	margin:0;
	padding: 0;
} */

.col-content{
	height:100%;
	width: 100%;
}

.content-area hr {
width: 100px;
height: 3px;
background-color: #d90932;
border: 0;
margin:auto;
margin-bottom:50px;
}
.content-area {
  margin: 0;
  padding: 50px;
  text-align: center;
  width: 100%;
  height: 100%;

}
.content-area h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
#main1 {
	background-image: linear-gradient(rgba(100,100,100,0.6), rgba(100,100,100,0.6)), url("https://i.imgur.com/efsiBNt.jpg");
	background-size: cover;
	padding:0px;
	z-index:1;
}
#main1 .container{
	padding:0px;
}
#main1 .container .main-section{
	margin-left:-100px;
}
#row-1-image{
	height:100%;
	width:103%;
}
.col-md-7, .col-md-5, .col-md-4, .col-md-6{
	padding:0px;
}
#welcome .col-md-6.image {
	overflow: hidden;
}
@media only screen and (max-width: 767px) {
	#reverseactive{
		display: -webkit-flex;
		display:flex;
		flex-direction: row-reverse;
		flex-direction: column-reverse;

		justify-content: flex-end;
	}
	.content-area{
		padding-top:100px;
		padding-bottom: 100px;
	}
}
