footer {
    background: #F1F2F4;
    color: white;
    font-family: "Open Sans";
    font-size: 15px;
    padding: 10px;
}

footer .footer__links {
    margin: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin: 0;
    padding: 0;
}

footer ul li a {
    color: #515B69;
    text-decoration: none !important;
}

footer .footer__social {
    vertical-align: middle;
}

footer .social-link {
    margin: 0 1em;
    padding: 0;
}

footer .social {
    margin: auto;
}