footer {
    background: #F1F2F4;
    color: white;
    bottom: 0;
    width: 100%;
    font-family: "Open Sans";
    font-size: 15px;
    padding: 10px;
}

.footer__links {
    margin: 0;
}

a {
    color: #515B69;
    text-decoration: none !important;
}

.footer__social {
    width: 60%;
}

.social-link {
    padding: 0 !important;
    margin: 0 1em;
}

.social {
    margin: auto;
}

footer > div > ul li {
  list-style: none;
}
